// ./layout/_header.scss

header {
  align-items: center;
  background-color: $color-main;
  box-shadow: 0 3px 6px 0 $color-shadow;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 25px 0;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
    height: 60px;
    padding: 5px 25px 5px;
  }
  .nav-header-items {
    color: $color-white;
    font-size: 1rem;
    font-weight: 500;
    ul {
      column-gap: 20px;
      display: inline-grid;
      grid-auto-flow: column dense;
      list-style-type: none;
      margin: 0;
      padding: 0;
      @media (min-width: 768px) {}
      li {
        align-items: center;
        border-bottom: 3px solid transparent;
        display: flex;
        font-weight: 400;
        padding: 10px 0 20px;
        @media (min-width: 768px) {
          height: 60px;
          padding: 0;
        }
        [class^="mxicon-"] {
          margin-right: 7px;
        }
        &:hover {
          border-bottom: 3px solid $color-highlighted;
          color: $color-highlighted;
          cursor: pointer;
          .mxicon--dashboard {
            background-image: url('../images/design/icons/icon-dashboard-hover.svg');
          }
          .mxicon--indicators {
            background-image: url('../images/design/icons/icon-indicators-hover.svg');
          }
        }
      }
    }
  }
  .nav-user {
    order: 2;
    align-items: center;
    display: flex;
    margin-left: auto;
    @media (min-width: 768px) {
      order: initial;
    }
    ul {
      column-gap: 20px;
      display: inline-grid;
      grid-auto-flow: column dense;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        align-items: center;
        display: flex;
        @media (min-width: 768px) {
          height: 60px;
        }
      }
      .mxicon--exit:hover {
        background-image: url('../images/design/icons/icon-exit-hover.svg');
        cursor: pointer;
      }
      img.nav-user__avatar {
        border-radius: 50%;
        border: 2px solid $color-highlighted;
        display: inline-block;
        height: 40px;
        object-fit: cover;
        width: 40px;
      }
    }
  }

  .header__logo {
    display: flex;
    order: 1;
    @media (min-width: 768px) {
      flex-basis: 220px;
      order: initial;
    }
  }
  .header__nav {
    display: flex;
    flex: 1;
    flex-basis: 100%;
    justify-content: center;
    order: 3;
    @media (min-width: 768px) {
      justify-content: flex-start;
      order: initial;
    }
    @media (min-width: 992px) {
      padding-left: 50px;
    }
  }
}