// ./layout/_sidebar.scss

.sidebar {
  background-color: $color-main_c;
  box-shadow: 3px 0 6px 0 $color-shadow;
  flex-basis: 240px;
  position: relative;
  nav {
    padding: 40px 25px 20px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-weight: 100;
        margin-bottom: 15px;
        opacity: 0.75;
        &:hover {
          opacity: 1;;
        }
      }
      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}

.sidebar-toggle {
  background-color: $color-main_c;
  border-radius: 2px;
  outline: none;
  border: 0;
  cursor: pointer;
  height: 54px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
}
.sidebar-toggle:before {
  background-color: $color-main;
  content: "";
  display: block;
  height: 36px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
}

.sidebar-hide {
  flex-basis: 0%!important;
  width: 0px;
  nav {
    display: none;
  }
  .sidebar-toggle {
    right: -12px;
  }
}