// ./_icons.scss

[class^="mxicon-"] {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.mxicon--dashboard {
  background-image: url('../images/design/icons/icon-dashboard-white.svg');
  height: 20px;
  width: 20px;
}
.mxicon--indicators {
  background-image: url('../images/design/icons/icon-indicators-white.svg');
  height: 21px;
  width: 18px;
}
.mxicon--exit {
  background-image: url('../images/design/icons/icon-exit-white.svg');
  height: 19px;
  width: 19px;
}

.mxicon--inventario {
  background-image: url('../images/design/icons/icon-inventario.svg');
  height: 31px;
  width: 31px;
}
.mxicon--agencias {
  background-image: url('../images/design/icons/icon-agencias.svg');
  height: 28px;
  width: 31px;
}
.mxicon--aerolineas {
  background-image: url('../images/design/icons/icon-aerolineas.svg');
  height: 35px;
  width: 31px;
}
.mxicon--embarcador {
  background-image: url('../images/design/icons/icon-embarcador.svg');
  height: 31px;
  width: 46px;
}
.mxicon--trucks {
  background-image: url('../images/design/icons/icon-trucks.svg');
  height: 31px;
  width: 44px;
}
.mxicon--administracion {
  background-image: url('../images/design/icons/icon-administracion.svg');
  height: 31px;
  width: 31px;
}
.mxicon--clientes {
  background-image: url('../images/design/icons/icon-clientes.svg');
  height: 31px;
  width: 50px;
}
.mxicon--fincas {
  background-image: url('../images/design/icons/icon-fincas.svg');
  height: 34px;
  width: 29px;
}