// ./_variables.scss

// Fonts
  $font-family-base: 'Roboto', sans-serif;

// Fonts | Sizes
  $font-base-size: 16px;

// Colors
  $color_main:        #4A0089;
  $color_main_b:      #33005F;
  $color_main_c:      #240043;
  $color_highlighted: #F4BB00;
  $color_white:       #FFFFFF;
  $color_black:       #000000;