// ./components/_card-link.scss

.cards-links {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media (min-width: 768px) {
    column-gap: 35px;
    display: grid;
    grid-template-columns: repeat(5, 82px);
    justify-content: flex-start;
    row-gap: 60px;
  }
}

.card-link {
  cursor: pointer;
  flex: 1;
  margin-bottom: 15px;
  max-width: 82px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  .card-link__icon {
    align-items: center;
    background-color: white;
    border-radius: 7px;
    color: $color-main;
    display: flex;
    font-weight: 400;
    height: 82px;
    justify-content: center;
    margin-bottom: 10px;
    opacity: 0.9;
    text-align: center;
    transition: all 0.5s ease;
    width: 82px;
    &:hover {
      opacity: 1;
      background-color: $color-highlighted;
    }
  }
  span {
    display: inline-block;
    font-size: 0.9rem;
    max-width: 100%;
  }
  a { text-decoration: none; }
}